body {
    text-align: center;
    background-color: aquamarine;
}

div {
margin-top: 15px;    
}

img {
    width: 500px;
}
    
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
